.main-img img{
  display: flex;
  position: absolute;
  left: 5%;
  border-radius: 1000px;
  top: 54px;
  left: 5%;
  height: 30%;
  width: 9%;

}
.container{
  position: relative;
  top: 200px;
  color: rgb(236, 236, 236);
  left: 9%;
}
.main-img hr{
  position: relative;
  top: 88px;
  height: 4px;
  width: 22%;
  left: -33%;
  background-color: rgb(216, 189, 194);
}
body{
  background: url(frederico-almeida-80-IGI1mr24-unsplash.jpg) ;
  background-size: cover; 
  background-position-y: left 0%;
  margin: 0px;
  padding: 0px;
}


